go 1.19

use ./
use ./extensions/collector
use ./extensions/store-etcd
use ./extensions/store-orm
use ./extensions/store-s3
use ./extensions/store-git
use ./extensions/store-mongodb
use ./extensions/monitor-docker
use ./operator
