@import './base.css';

#app {
    margin: 0 auto;
    height: 100vh;
    font-weight: normal;
}

.top-menu {
    position: absolute;
    top: 10px;
    right: 20px;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}
