name: Build

on:
  - pull_request

jobs:
  Test:
    runs-on: ubuntu-20.04
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18.x
      - uses: actions/checkout@v3.0.0
      - name: Unit Test
        run: |
          make test-all-backend
      - name: Report
        if: github.actor == 'linuxsuren'
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
        run: |
          bash <(curl -Ls https://coverage.codacy.com/get.sh) report -r coverage.out --force-coverage-parser go
      - name: API Test
        run: |
          make build copy
          sudo atest service install
          sudo atest service restart
          atest run -p .github/testing/core.yaml

  Build:
    runs-on: ubuntu-20.04
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18.x
      - uses: actions/checkout@v3.0.0
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v4.1.1
        with:
          github_token: ${{ secrets.GH_PUBLISH_SECRETS }}
          version: v1.14.0
          args: release --skip-publish --rm-dist --snapshot
      - name: Image
        run: make build-image

  BuildEmbedUI:
    runs-on: ubuntu-20.04
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18.x
      - uses: actions/checkout@v3.0.0
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: 'npm'
          cache-dependency-path: console/atest-ui/package-lock.json
      - name: Build
        run: make build-embed-ui
      - name: Test
        run: make test-ui test-e2e
