name: Build

on:
  - pull_request
env:
  IMG_TOOL: docker

jobs:
  Test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3.0.0
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.18.x
      - name: Unit Test
        run: |
          make test-all-backend test-operator
      - name: Long Test
        run: |
          make testlong
      - name: Report
        if: github.actor == 'linuxsuren'
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
        run: |
          bash <(curl -Ls https://coverage.codacy.com/get.sh) report --partial --force-coverage-parser go -r coverage.out
          bash <(curl -Ls https://coverage.codacy.com/get.sh) report --partial --force-coverage-parser go -r collector-coverage.out
          bash <(curl -Ls https://coverage.codacy.com/get.sh) report --partial --force-coverage-parser go -r store-orm-coverage.out
          bash <(curl -Ls https://coverage.codacy.com/get.sh) report --partial --force-coverage-parser go -r store-s3-coverage.out
          bash <(curl -Ls https://coverage.codacy.com/get.sh) report --partial --force-coverage-parser go -r store-git-coverage.out
          bash <(curl -Ls https://coverage.codacy.com/get.sh) report --partial --force-coverage-parser go -r operator/cover.out
          bash <(curl -Ls https://coverage.codacy.com/get.sh) final

  APITest:
    permissions: 
      pull-requests: write 
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3.0.0
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.18.x
      - name: API Test
        run: |
          make build copy
          sudo atest service install
          sudo atest service restart
          sudo atest service status
          atest run -p '.github/testing/*.yaml' --request-ignore-error --report md --report-file .github/workflows/report.md
          sudo atest service status

          atest convert -p .github/testing/core.yaml --converter jmeter -t sample.jmx
      - name: Report API Test
        uses: thollander/actions-comment-pull-request@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          filePath: .github/workflows/report.md
      - name: Run JMeter Tests
        uses: rbhadti94/apache-jmeter-action@v0.5.0
        with:
          testFilePath: sample.jmx

  Build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3.0.0
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.18.x
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PUBLISH_SECRETS }}
        with:
          version: latest
          args: release --skip-publish --rm-dist --snapshot
      - name: Operator
        run: cd operator && make build

  BuildImage:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3.0.0
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.18.x
      - name: Core Image
        run: make build-image
      - name: Operator Image
        run: cd operator && make docker-build

  BuildEmbedUI:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3.0.0
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.18.x
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: "npm"
          cache-dependency-path: console/atest-ui/package-lock.json
      - name: Build
        run: |
          make build-embed-ui copy
          sudo atest service install
          sudo atest service restart
      - name: Test
        run: make test-ui test-e2e
